.allusers{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: row;
    margin-top: 60px;
    font-family: serif;
    font-size: 20px;

}

.pagination {
    margin-left: 350px;
}
.pageNumber {
    display: inline;
    padding: 2px;
    border: 1px solid grey;
    background-color: beige;
}
.selectedPage {
    color: blueviolet;
    font-size: 30px;
    font-weight: bold;
}
.selectedPage:hover{
    background-color: blue;
    
}