.postBlock {
  padding: 20px;
}

.posts {
  margin-top: -30px;
}

.button {
  position: relative;
  bottom: 50px;
  margin-left: 500px;
  width: 70px;
  background-color: rgb(109, 233, 241);
  border-radius: 25%;
}
.textarea {
  position: relative;
  bottom: 50px;
  margin-left: 400px;
}