.header {
  grid-area: h;
  background-color: rgb(211, 155, 64);
  border: solid 1px black ;
}
.title{
  position: relative;
  top: 47px;
  font-size: 30px;
}
.loginBlock {
  margin-bottom: 20px;
  font-size: 20px;
  float: right;
}
.loginBlock a{
  color:aquamarine;
}