.header {
  grid-area: h;
  background-color: rgb(118, 226, 245) ;;
  border: solid 2px rgb(7, 164, 192) ;
}
.title{
  margin-top: 5px;
}
.loginBlock {
  margin-bottom: 20px;
  font-size: 20px;
}
.loginBlock a{
  color:aquamarine;
}