.nav {
  background-color: wheat;
  grid-area: n;
  padding: 20px;
  padding-top: 200px;
}
.item img {
  width: 50px;
  margin-top: 30px;
}
a{
  text-decoration: none;
}

.active {
  background-color: gold;
}
