.dialogs{
 display: grid;
 grid-template-columns: 2fr 8fr;
 font-family: Arial, Helvetica, sans-serif;
}
.dialogsList{
    padding: 40px;
    font-size: 30px;
    

}
.dialogsList .active{
    color: hotpink;
}
.item{

}
.messages{
    margin: 0 auto;

}
.dialog{
    background-color: antiquewhite;
    border-radius: 80%;
    padding: 20px;
    margin: 20px;
    
}

